.ld-register {
	.left {
		max-width: 450px;
		margin: auto auto;

		>.steps {
			color: var(--ld-color-gray);
			font-weight: 800;
			font-size: calc(var(--ld-font-size-base) + 4px);
			display: block;
			margin-bottom: 15px;
		}

		>.main-title {
			font-weight: 800;
			margin-bottom: 40px;

			>.up {
				font-size: calc(var(--ld-font-size-base) + 38px);
				margin-bottom: 7px;
				display: block;
			}

			>.down {
				font-size: calc(var(--ld-font-size-base) + 22px);
			}
		}
		>.radio-buttons {
			margin-bottom: 42px;

			>.title {
				font-size: calc(var(--ld-font-size-base) + 8px);
				font-weight: 800;
				margin-bottom: 16px;
			}
			
			>.buttons {
				>.ld-radio {
					margin-right: 70px;
				}
			}

			>.role-invalid {
				color: red;
			}
		}
	}
}
